// Gilroy
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Thin.woff");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-UltraLight.woff");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-LightItalic.woff");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-RegularItalic.woff");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Semibold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiboldItalic.woff");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-BoldItalic.woff");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Extrabold.woff");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Black.woff");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}

// Playfair Display
@font-face {
  font-family: "Playfair Display SC", serif;
  src: url("./fonts/PlayfairDisplaySC-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display SC", serif;
  src: url("./fonts/PlayfairDisplaySC-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Noto

@font-face {
  font-family: "DM Serif Display";
  src: url("./fonts/DMSerifDisplay-Regular.ttf");
  font-display: swap;
}

// Noto Sans

@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sefis";
  src: url("./fonts/NotoSerif-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: fallback;
}