@import "@/shared/styles/_vars";

.button {
  color: #fff;
  font-weight: 700;
  max-width: rem(270);
  min-height: rem(70);
  width: 100%;
  @include orange-gradient();
  padding: rem(15) rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: rem(100);
  font-size: rem(14);
  text-transform: uppercase;
  transition: border-color 0.2s linear;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 4;
  border: 1px solid transparent;

  &:hover {
    border-color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border-color: rgba(255, 255, 255, 0.6);
  }

  &.arrow {
    gap: rem(6);
  }

  &.center {
    margin: 0 auto;
  }

  &[disabled] {
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: not-allowed;
  }
  &.white {
    background: $white !important;
    color: #d4623e;
  }

  &.transparent {
    background: transparent !important;
    border-color: $white;
  }
}
