@import "@/shared/styles/_vars";

.photoSlider {
  //padding: rem(20) 0;
  padding-bottom: rem(10);
}
.firstOnPage {
  padding-top: rem(150);
}
.container {
  @include container();
  display: flex;
  flex-direction: column;
  padding-bottom: rem(50);
}
.wideContainer {
  max-width: rem(1260);
}
.title {
  @include noto(400);
  font-size: rem(40);
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: $white;
  order: 1;

  &.left {
    text-align: left;
    margin: 0;

    @media (max-width: $max-768) {
      text-align: center;
    }
  }

  @media (max-width: $max-768) {
    font-size: rem(24);
  }
}
.subtitle {
  margin: 0 auto;
  margin-top: rem(8);
  @include gilroy(400);
  color: $white;
  text-align: center;
  letter-spacing: rem(0.4);
  font-size: rem(22);
  order: 2;

  @media (max-width: $max-768) {
    font-size: rem(18);
  }
}
.swiper {
  width: 100%;
  margin-top: rem(40);
  border-radius: rem(12);
  order: 3;
}
.slide {
  width: 100%;
  //min-width: rem(300);
  height: rem(200);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: rem(12);
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lowerText {
  @include gilroy(400);
  font-size: rem(24);
  text-align: center;
  color: $white;
  line-height: 1.3;
  margin-top: rem(60);
  order: 6;

  @media screen and (max-width: $max-768) {
    font-size: rem(18);
  }
}
.textWithVideo {
  margin-top: rem(30);
  display: flex;
  justify-content: space-between;
  gap: rem(30);
  order: 4;

  @media screen and (max-width: $max-950) {
    flex-direction: column;
    align-items: center;
  }
}
.leftText {
  width: 50%;

  @media screen and (max-width: $max-950) {
    width: 100%;
  }
}
.rightVideo {
  border-radius: rem(12);
  width: 100%;
  max-width: rem(512);
  height: 100%;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: $max-950) {
    max-width: rem(700);
    aspect-ratio: 16/9;
  }
}
.onlyVideo {
  border-radius: rem(12);
  width: 100%;
  //max-width: rem(512);
  height: 50vh;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: $max-950) {
    //max-width: rem(700);
    height: 100%;
    aspect-ratio: 16/9;
  }
}
.videoPreview {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  object-fit: cover;
}
.openVideoButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(84);
  height: rem(84);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  cursor: pointer;
  fill: $white;
  color: $white;

  &:hover .openButtonIcon {
    fill: darken($white, 10%);
    color: darken($white, 10%);
  }
}

.openButtonIcon {
  transition: 0.2s;
  fill: $white;
  color: $white;
}
.text {
  margin-top: rem(14);
  color: $white;
  @include gilroy(400);
  font-size: rem(16);

  & strong {
    font-weight: 600;
  }
}
