@import "@/shared/styles/_vars";

.leaveRequest {
  padding: rem(50) 0;
  background: linear-gradient(
    180deg,
    #2d2928 -108.63%,
    #2a2827 -56.54%,
    #393632 -23.78%,
    #312d2a -1.94%,
    #35302c 17.86%,
    #2d2928 112.16%
  );
  overflow: hidden;

  @media (max-width: $max-1100) {
    min-height: rem(950);
    overflow: hidden;
  }
}

.container {
  @include container();
  position: relative;
}
.beforeSubtitle {
  @include gilroy(300);
  font-size: rem(20);
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-bottom: rem(30);

  @media (max-width: $max-650) {
    font-size: rem(16);
  }
}
.beforeTitle {
  @include noto(500);
  font-size: rem(40);
  line-height: 1.3;
  color: #fff;
  max-width: rem(670);
  text-align: center;
  margin: 0 auto;
  margin-bottom: rem(12);

  @media (max-width: $max-768) {
    font-size: rem(28);
  }
}
.card {
  background-image: url("../../data/images/modal-bg2.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: rem(1060);
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 60px rgba(221, 213, 203, 0.26));
  filter: drop-shadow(0px 4px 60px rgba(221, 213, 203, 0.26));
  position: relative;
  padding-top: rem(180);
  min-height: rem(727);

  @media (max-width: $max-1100) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: rem(1060);
    height: 100%;
    padding-top: rem(120);
  }
  @media (max-width: $max-600) {
    background-image: url("../../data/images/modal-bg.webp");
    min-width: rem(1160);
    min-height: rem(900);
  }
}
.closeButton {
  @include gilroy(400);
  color: #b79571;
  font-size: rem(54);
  position: absolute;
  top: rem(150);
  right: rem(50);
  z-index: 10;
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: darken(#b79571, 10%);
  }

  @media (max-width: $max-1000) {
    top: rem(120);
    right: 40%;
    transform: translate(50%, 0);
  }
  @media (max-width: $max-600) {
    top: rem(70);
    right: 37%;
    transform: translate(50%, 0);
  }
  @media (max-width: $max-450) {
    top: rem(70);
    right: 39%;
    transform: translate(50%, 0);
  }
}
.minus {
  @include noto(300);
  color: #191919;
  font-size: rem(36);
  line-height: 1.5;
  margin-right: rem(36);
  position: relative;
  z-index: 2;

  @media (max-width: $max-1100) {
    display: none;
  }
}
.wrapper {
  display: flex;
  align-items: flex-start;
  margin-left: rem(70);
  gap: rem(15);
  position: relative;
  z-index: 2;

  @media (max-width: $max-1100) {
    margin-left: rem(250);
  }
  @media (max-width: $max-600) {
    justify-content: center;
    margin: 0 auto;
  }
}
.title {
  @include noto(400);
  font-size: rem(40);
  color: #b79571;
  line-height: 1.15;
  max-width: rem(330);

  @media (max-width: $max-450) {
    font-size: rem(30);
    max-width: rem(300);
    text-align: center;
  }
}

.text {
  margin-left: rem(160);
  margin-top: rem(20);
  max-width: rem(380);
  @include gilroy(400);
  color: #4f4a46;
  text-wrap: pretty;
  position: relative;
  z-index: 2;

  & span {
    font-weight: 700;
  }

  @media (max-width: $max-1100) {
    margin-top: rem(20);
    margin-left: rem(250);
  }
  @media (max-width: $max-600) {
    margin: 0 auto;
    margin-top: rem(20);
  }
  @media (max-width: $max-400) {
    max-width: rem(300);
  }
}

.moreText {
  margin-left: rem(160);
  max-width: rem(420);
  font-size: rem(18);
  @include gilroy(400);
  font-style: italic;
  text-wrap: pretty;
  position: relative;
  z-index: 2;
  color: #b79571;

  & span {
    font-weight: 700;
  }

  @media (max-width: $max-1100) {
    margin-left: rem(250);
  }
  @media (max-width: $max-600) {
    margin: 0 auto;
    max-width: rem(380);
    text-align: center;
  }
  @media (max-width: $max-400) {
    max-width: rem(300);
  }
}

.formWrapper {
  display: flex;
  align-items: center;
  margin-left: rem(160);
  margin-top: rem(20);
  gap: rem(20);
  position: relative;
  z-index: 5;

  @media (max-width: $max-1100) {
    margin-top: rem(20);
    margin-left: rem(250);
    flex-direction: column;
    max-width: rem(350);
  }
  @media (max-width: $max-600) {
    margin: 0 auto;
    margin-top: rem(20);
  }
}
.formWrapper2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: rem(160);
  margin-top: rem(20);
  gap: rem(20);
  position: relative;
  z-index: 5;

  @media (max-width: $max-1100) {
    margin-left: rem(250);
  }
  @media (max-width: $max-600) {
    margin: 0;
    margin-top: rem(20);
  }
}
.inputsWrapper2 {
  display: flex;
  align-items: center;
  gap: rem(20);

  @media (max-width: $max-600) {
    flex-direction: column;
    margin: 0 auto;
  }
}
.inputWrapper {
  max-width: rem(260);
  width: 100%;
  position: relative;

  @media (max-width: $max-1100) {
    max-width: rem(350);
  }
  @media (max-width: $max-400) {
    max-width: rem(300);
  }
}
.input {
  background: #eeedea;
  padding: rem(25) rem(30);
  padding-right: rem(50);
  border-radius: rem(50);
  width: 100%;
  color: #4f4a46;
  transition: 0.2s;
  border: 0;
  outline: none;
  min-width: rem(260);

  &:focus {
    border: 0;
    outline: none;
    background-color: darken(#eeedea, 5%);
  }

  &.error {
    background-color: rgb(231, 152, 152);
  }
}
.icon {
  color: #cecdcb;
  fill: #cecdcb;
  max-width: rem(17);
  width: 100%;
  position: absolute;
  right: rem(30);
  top: 50%;
  transform: translate(0, -50%);
}
.contactsWrapper {
  margin-top: rem(10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  max-width: rem(540);
  width: 100%;

  @media (max-width: $max-600) {
    flex-direction: column;
    gap: rem(10);
    max-width: rem(350);
    margin: 0 auto;
    margin-top: rem(20);
  }
}
.column {
  display: flex;
  flex-direction: column;
  max-width: rem(260);
  width: 100%;
  align-items: center;

  @media (max-width: $max-1100) {
    max-width: rem(350);
    align-items: center;
    margin-top: rem(10);
  }
}
.writeText {
  @include gilroy(700);
  color: #4f4a46;
  font-size: rem(12);
  line-height: 1.5;
  text-align: center;
}
.contacts {
  display: flex;
  align-items: center;
  gap: rem(20);
  margin-top: rem(5);
}
.contactCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(5);
  border-radius: rem(6);
  background: #fff;
  text-decoration: none;

  padding: rem(8) rem(15);
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1);
  }
}
.contactsIcon {
  max-width: rem(30);
  width: 100%;
}
.contactText {
  @include gilroy(600);
  font-size: rem(9);
  color: #4f4a46;
  cursor: pointer;
}
.button {
  font-size: rem(12);
  max-width: rem(260);
}
.infoText {
  @include gilroy(400);
  font-size: rem(10);
  color: #adb6bf;
  margin: 0 auto;
  margin-top: rem(4);
  max-width: rem(250);

  @media screen and (min-width: $max-800) {
    padding-left: rem(10);
  }

  @media screen and (max-width: $max-800) {
    text-align: center;
  }

  & a {
    color: #f28c6b;
    text-decoration: none;
    border: 0;
    outline: none;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $max-800) {
    max-width: rem(230);
  }
}
