@import "@/shared/styles/_vars";

.wrapper {
  padding: rem(50) 0;
  margin: 0 auto;
  position: relative;
  width: 100%;

  &.noPadding {
    padding: 0;
  }
}
.leaveRequest {
  width: 100%;
  @include container();
  padding: rem(30) rem(30) rem(30);
  background: rgba(255, 255, 255, 0.9);
  border-radius: rem(12);
  overflow: hidden;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $max-768) {
    padding: rem(20) rem(15);
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: rem(30);
  z-index: 2;

  @media (max-width: $max-1000) {
    justify-content: center;
    align-items: flex-start;
  }

  @media (max-width: $max-768) {
  }
}
// .bgImage {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 0;
//   width: 100%;
//   height: 100%;
//   -o-object-fit: cover;
//   object-fit: cover;
//   -o-object-position: center;
//   object-position: center;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   -webkit-filter: blur(rem(8));
//   filter: blur(rem(8));
//   -webkit-mask-image: linear-gradient(
//     90deg,
//     rgba(64, 56, 48, 0) 0%,
//     rgba(64, 56, 48, 0.5) 100%
//   );
//   mask-image: linear-gradient(
//     90deg,
//     rgba(64, 56, 48, 0) 10%,
//     rgba(64, 56, 48, 0.5) 100%
//   );
// }
.left {
  display: flex;
  flex-direction: column;
  max-width: rem(650);
  z-index: 2;

  @media (max-width: $max-1000) {
    margin: 0 auto;
  }
}
.title {
  @include gilroy(500);
  font-size: rem(40);
  line-height: 1.3;
  color: $text-dark;
  text-wrap: balance;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $max-768) {
    font-size: rem(24);
  }
}
.description {
  @include gilroy(600);
  font-size: rem(16);
  color: $text-dark;
  line-height: 1.5;
  margin-top: rem(20);
  text-wrap: balance;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $max-768) {
    font-size: rem(14);
  }
}
.asks {
  position: relative;
  z-index: 2;
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}
.ask {
  display: flex;
  align-items: center;
  gap: rem(14);

  justify-content: flex-start;
}
.icon {
  color: $white;
  -webkit-filter: drop-shadow(0px 0px rem(12) #f28c6b)
    drop-shadow(0px 0px rem(19) #f28c6b);
  filter: drop-shadow(0px 0px rem(12) #f28c6b)
    drop-shadow(0px 0px rem(19) #f28c6b);
  width: rem(22);
  min-width: rem(22);
  height: rem(22);
}
.askText {
  @include gilroy(500);
  font-size: rem(16);
  color: #ff5a24;
  line-height: 1.3;
  text-wrap: balance;
}
.right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  @media screen and (max-width: $max-1000) {
    position: static;
    top: auto;
    right: auto;
    transform: translate(0);
    margin: 0 auto;
    margin-top: rem(30);
  }
}
.rightImage {
  max-width: rem(440);
  width: 100%;
  min-width: rem(250);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 3;
}
.ellipse {
  width: 100%;
  height: rem(500);
  border-radius: rem(100);
  background-color: #a89e94;
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 0;
  -webkit-filter: blur(rem(158));
  filter: blur(rem(158));
}
.card {
  margin-top: rem(20);
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  gap: rem(20);
  padding-bottom: rem(10);

  @media (max-width: $max-800) {
    padding-top: rem(30);
  }

  @media screen and (max-width: $max-500) {
    padding-inline: rem(30);
  }
}
.cardTitle {
  @include gilroy(400);
  font-size: rem(16);
  color: $text-dark;
  line-height: 1.5;
  display: flex;

  @media screen and (max-width: $max-800) {
    text-align: center;
    text-wrap: balance;
  }
}
.columnInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(6);
}
.columnFileInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(6);

  @media screen and (max-width: $max-800) {
    justify-content: space-between;
    border-radius: rem(50);
    border: rem(1) solid #eeedeb;
    width: 100%;
    flex-direction: row-reverse;
    padding: rem(8);
    padding-left: rem(20);
    max-width: rem(350);
  }
}
.inputsWrapper {
  display: flex;
  align-items: center;
  gap: rem(20);

  @media (max-width: $max-1100) {
    flex-direction: column;
  }
}
.form {
  display: flex;
  align-items: flex-start;
  gap: rem(26);

  @media screen and (max-width: $max-800) {
    flex-direction: column;
    align-items: center;
  }
}
.labelText {
  @include gilroy(400);
  font-size: rem(12);
  color: $text-dark;
  line-height: 1.5;
  white-space: nowrap;
}
.inputWrapper {
  max-width: rem(260);
  min-width: rem(260);
  width: 100%;
  position: relative;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: $max-1100) {
    width: 100%;
    max-width: rem(350);
  }
  @media (max-width: $max-400) {
    max-width: rem(300);
    min-width: auto;
    min-width: none;
  }
}
.input {
  background: #eeedea;
  padding: rem(25) rem(30);
  padding-right: rem(50);
  border-radius: rem(50);
  width: 100%;
  color: #4f4a46;
  transition: 0.2s;
  border: 0;
  outline: none;

  &::-webkit-input-placeholder {
    opacity: 1;
    font-size: rem(14);
  }

  &::-moz-placeholder {
    opacity: 1;
    font-size: rem(14);
  }

  &:-ms-input-placeholder {
    opacity: 1;
    font-size: rem(14);
  }

  &::-ms-input-placeholder {
    opacity: 1;
    font-size: rem(14);
  }

  &::placeholder {
    opacity: 1;
    font-size: rem(14);
  }

  &:focus {
    border: 0;
    outline: none;
    background-color: darken(#eeedea, 5%);
  }

  &.error {
    background-color: rgb(231, 152, 152);
  }
}
.inputIcon {
  color: #cecdcb;
  fill: #cecdcb;
  max-width: rem(17);
  width: 100%;
  position: absolute;
  right: rem(30);
  top: 50%;
  transform: translate(0, -50%);
}
.inputFile {
  display: none;
}
.labelFile {
  background: linear-gradient(202deg, #eeedea 0%, #edecea 100%);
  width: rem(70);
  height: rem(70);
  min-width: rem(70);
  aspect-ratio: 1/1;
  border-radius: rem(50);
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    background: linear-gradient(
      202deg,
      darken(#eeedea, 5%) 0%,
      darken(#edecea, 5%) 100%
    );
  }
}
.inputIconCenter {
  color: #d3613d;
  fill: #d3613d;
  max-width: rem(17);
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button {
  min-width: rem(230);
  font-size: rem(12);
  @include orange-gradient();

  @media screen and (max-width: $max-800) {
    max-width: rem(350);
  }
}
.text {
  text-align: center;
  @media screen and (max-width: $max-800) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.infoText {
  @include gilroy(400);
  font-size: rem(10);
  color: $text-dark;
  margin-top: rem(4);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & a {
    color: #f28c6b;
    text-decoration: none;
    border: 0;
    outline: none;

    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: $max-800) {
    max-width: rem(230);
  }
}

.moreText {
  @include gilroy(600);
  text-wrap: pretty;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font-size: rem(12);
  color: #ff460b;
  display: inline;
  text-align: center;

  & span {
    font-weight: 700;
  }

  @media screen and (max-width: $max-800) {
    text-align: center;
  }

  // @media screen and (max-width: $max-800) {
  //   max-width: rem(230);
  // }
  // @media (max-width: $max-400) {
  //   max-width: rem(300);
  // }
}
