@import '@/shared/styles/_vars';

.fourSteps {
	padding-top: rem(100);
	padding-bottom: rem(50);
	width: 100%;
	position: relative;
}
.container {
	@include container();
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.title {
	@include title(300);
}
.variants {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	max-width: rem(900);
	margin: 0 auto;
	margin-top: rem(30);
	grid-template-areas:
		'one one two two'
		'one one two two'
		'one one four four'
		'three three four four'
		'three three four four';
	gap: rem(16);

	@media (max-width: $max-900) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
			'one'
			'two'
			'three'
			'four';
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.variant {
	border-radius: rem(12);
	background-color: #fff;
	min-height: rem(380);
	width: 100%;
	padding: rem(12);
	position: relative;
	overflow: hidden;
}
.copyImage {
	position: absolute;
	right: 0;
	opacity: 0.5;
	-webkit-filter: blur(rem(10));
	filter: blur(rem(10));
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.one {
	grid-area: one;

	& .variantImg {
		bottom: 0;
		right: 0;
		max-width: rem(230);
	}

	& .copyImage {
		max-width: rem(280);
		bottom: 0;
		right: 0;
	}

	@media (max-width: $max-550) {
		.variantDescription {
			margin-top: rem(20);
			margin-bottom: rem(300);
		}
		.variantImg {
			left: 70%;
			transform: translateX(-50%);
		}
		.copyImage {
			right: 30%;
			transform: translateX(50%);
		}
	}
}
.two {
	grid-area: two;

	& .variantImg {
		bottom: -25%;
		right: -5%;
		max-width: rem(380);
	}

	& .copyImage {
		max-width: rem(460);
		right: -20%;
		bottom: -10%;
	}

	@media (max-width: $max-900) {
		.variantImg {
			bottom: 0;
		}
		.copyImage {
			bottom: 10%;
		}
	}

	@media (max-width: $max-550) {
		.variantDescription {
			margin-top: rem(20);
			margin-bottom: rem(300);
		}
		.variantImg {
			left: 60%;
			transform: translateX(-50%);
			width: 110%;
		}
		.copyImage {
			right: 40%;
			bottom: 5%;
			transform: translateX(50%);
		}
	}
}
.three {
	grid-area: three;

	& .variantImg {
		bottom: -20%;
		right: -20%;
		max-width: rem(283);
		width: 100%;
	}

	& .copyImage {
		max-width: rem(340);
		right: -20%;
		bottom: -10%;
	}

	@media (max-width: $max-900) {
		.variantImg {
			bottom: 0;
		}
		.copyImage {
			bottom: 10%;
		}
	}

	@media (max-width: $max-550) {
		.variantDescription {
			margin-top: rem(20);
			margin-bottom: rem(200);
		}
		.variantImg {
			left: 70%;
			bottom: -20%;
			transform: translateX(-50%);
		}
		.copyImage {
			right: 10%;
			bottom: -20%;
			transform: translateX(50%);
		}
	}
}

.four {
	grid-area: four;

	& .variantImg {
		bottom: 0;
		right: -15%;
		z-index: 3;
		max-width: rem(316);
		width: 100%;
	}

	& .copyImage {
		max-width: rem(400);
		right: -30%;
		bottom: 0;
	}

	@media (max-width: $max-900) {
		.variantImg {
			bottom: 0;
		}
		.copyImage {
			bottom: 10%;
		}
	}

	@media (max-width: $max-550) {
		.variantDescription {
			margin-top: rem(20);
			margin-bottom: rem(300);
		}
		.variantImg {
			left: 70%;
			transform: translateX(-50%);
		}
		.copyImage {
			right: 30%;
			bottom: 5%;
			transform: translateX(50%);
		}
	}
}
.variantTitle {
	@include noto(500);
	color: #2f2f2f;
	font-size: rem(16);
	line-height: 1.5;
	position: relative;
	z-index: 10;
	text-transform: uppercase;
}
.variantDescription {
	color: #2f2f2f;
	font-size: rem(16);
	@include gilroy(400);
	line-height: 1.5;
	position: relative;
	z-index: 10;
	max-width: rem(260);
	margin-top: rem(14);

	& span {
		@include gilroy(600);
	}

	@media (max-width: $max-450) {
		font-size: rem(14);
	}
}
.variantNumber {
	@include dm();
	font-size: rem(216);
	background: linear-gradient(
		180deg,
		#ded6cc 26.33%,
		rgba(161, 153, 141, 0) 79.44%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	line-height: 1;
	margin-top: rem(-30);
	position: relative;
	z-index: 3;
}
.variantImg {
	position: absolute;
	z-index: 2;
}
