@import '@/shared/styles/_vars';

.helloScreen {
	display: flex;
	min-height: rem(750);
	max-height: rem(1400);
	background-color: #433a31;
	padding-top: rem(160);
	position: relative;

	@media (max-width: $max-1300) {
		min-height: rem(700);
	}
	@media (max-width: $max-700) {
		min-height: rem(600);
		width: 100%;
		margin-left: 0;
	}
	overflow: hidden;
}
.bgImage {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 115%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	max-width: none;
	margin-left: -5%;
	-o-object-position: 100% 20%;
	object-position: 100% 20%;

	@media (max-width: $max-1000) {
		-o-object-position: right;
		object-position: right;
	}

	@media (max-width: $max-700) {
		-o-object-position: 75%;
		object-position: 75%;
	}
}
.container {
	@include container();

	@media (min-width: $max-700) {
		padding-left: rem(56);
	}
	position: relative;
	z-index: 2;
}
.title {
	@include gilroy(500);
	font-size: rem(50);
	line-height: 1.3;
	color: #fff;
	max-width: rem(730);
	width: 100%;
	margin-bottom: rem(20);

	@media (max-width: $max-700) {
		font-size: rem(24);
		max-width: rem(380);
		line-height: 1.3;
	}
}
.subtitle {
	display: flex;
	align-items: center;
	margin-top: rem(-16);
}
.subtitleIcon {
	width: rem(64);
}
.subtitleText {
	@include gilroy(400);
	font-size: rem(27);
	line-height: 1.3;
	color: #fff;

	& span {
		font-weight: 700;
	}

	@media (max-width: $max-700) {
		margin-left: rem(-8);
		font-size: rem(18);
	}
}
.subtitle2 {
	display: flex;
	align-items: flex-start;
	margin-left: rem(48);
	margin-top: rem(20);

	@media (max-width: $max-700) {
		margin-left: rem(24);
		margin-top: rem(8);
		margin-bottom: rem(32);
		align-items: center;
	}

	& span {
		color: #d3613d;
		font-size: rem(30);
	}
}
.subtitle2Text {
	color: #fff;
	font-size: rem(20);
	margin-left: rem(8);
	margin-top: rem(4);
	max-width: rem(180);
	cursor: text;

	@media (max-width: $max-700) {
		font-size: rem(14);
		max-width: none;
	}
}
.orangeButton {
	margin-top: rem(35);
	margin-left: rem(48);

	@media (max-width: $max-768) {
		margin-top: rem(250);
		margin-bottom: rem(50);
	}
	@media (max-width: $max-450) {
		margin: rem(250) auto rem(50);
	}
}
