@import "@/shared/styles/_vars";

.kitchensPage {
  padding-top: rem(60);
  background: linear-gradient(
    180deg,
    #282320 0%,
    #322d29 35.47%,
    #35302c 78.81%,
    #2d2928 137.57%
  );
  padding-bottom: rem(50);
}
.container {
  @include container();
  max-width: rem(1260);
}
.title {
  @include noto(400);
  font-size: rem(40);
  line-height: 1.3;
  max-width: rem(700);
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  color: #fff;

  & span {
    position: relative;
    margin: 0 10px;

    &::before {
      position: absolute;
      content: "";
      background-color: #7b402e;
      width: rem(60);
      aspect-ratio: 1/1;
      border-radius: rem(100);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  @media (max-width: $max-768) {
    font-size: rem(24);
    max-width: rem(340);

    & span::before {
      width: rem(40);
    }
  }
}
.subtitle2 {
  margin: 0 auto;
  margin-top: rem(15);
  @include gilroy(600);
  color: #fff;
  text-align: center;
  letter-spacing: rem(0.4);
  font-size: rem(18);

  & span {
    @include gilroy(700);
  }
}
.subtitle {
  margin: 0 auto;
  margin-top: rem(15);
  @include gilroy(400);
  color: #fff;
  text-align: center;
  letter-spacing: rem(0.4);

  & span {
    @include gilroy(700);
  }
}
.tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(10);
  margin-top: rem(50);
}
.tab {
  background: linear-gradient(270deg, #9d9387 7.67%, #9c9488 91.46%);
  padding: rem(16) rem(40);
  border-radius: rem(100);
  opacity: 0.5;
  transition: 0.2s;
  color: #fff;
  @include gilroy(700);
  cursor: pointer;
  white-space: nowrap;
  letter-spacing: rem(0.2);
  border: 0;
  outline: none;

  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}

.kitchens {
  margin: 0 auto;
  width: 100%;
  margin-top: rem(50);
  gap: rem(20);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(320), 1fr));
  align-items: stretch;
}
.moreKitchens {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, rem(465));
  grid-template-rows: auto;
  gap: rem(20);
  margin-top: rem(20);
  max-width: rem(950);

  @media (max-width: $max-1000) {
    grid-template-columns: 100%;
  }
}
.kitchenWrapper {
  width: 100%;
  height: rem(500);
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.string {
  margin-top: rem(36);
  display: flex;
  gap: rem(30);
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}
