.swiper-thumbs .swiper-slide {
  transition: .2s;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.swiper-thumbs .swiper-slide.swiper-slide-thumb-active {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
/* .swiper-button-prev {
  background-color: rgba(255, 255, 255, .3);
  border-radius: .5rem;
}
.swiper-button-next {
  background-color: rgba(255, 255, 255, .3);
  border-radius: .5rem;
} */