@import "@/shared/styles/_vars";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: rem(150);
  min-width: rem(140);
}

.logoImg {
  width: 100%;
}
